<h2 class="m-4">Creando Post</h2>

<form action="/posts" method="POST">
    <div class="form-control">
        <label for="title" class="form-label">Titulo</label>
        <input type="email" class="form-control" id="title" name="title" placeholder="Ingrese el titulo del post">
    </div>
    <div class="form-control">
        <label for="body" class="form-label">Body</label>
        <input type="email" class="form-control" id="body" name="body" placeholder="Ingrese el body del post">
    </div>
    
    <button class="btn btn-primary mt-4">Enviar</button>
</form>